@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
  body {
    color: white;
    background: black;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: 50% 40%;
  column-gap: 0;
  row-gap: 2rem;
  grid-template-rows: 60% 50%;
  margin-left: 8%;
}


@media (min-width: 768px) {
  .one {
    display: grid;
    grid-row: 1/3;
    place-items: center;
  }
}

.three {
  grid-column: 1/2;
}
@media (min-width: 768px) {
  .three {
    grid-column: 2/4;
  }
}
